html, body {
    padding: 5px;
}

.rawCsvTable{
    max-height: clamp(100px,200px,400px);;
    overflow: auto;
    }

.tbodyDiv {
    max-height: clamp(200px,500px,800px);
    overflow: auto;
    }

/* #data-table {
    font-family: arial, verdana, sans-serif;
} */

#data-table thead td {
    font-weight: bold;
}

/* #data-table td {
    text-align: center;
    padding: 7px;
} */